body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.hidden {
    display: none;
}

#map {
    height: 60vh;
    width: 80%;
    margin-bottom: 20px;
}
