body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: #BE93C5;  
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5); 
    background: linear-gradient(to right, #7BC6CC, #BE93C5); 
}

#start-page {
    background-image: url(./images/back.jpg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    text-align: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 24px;
    margin: 250px 30px;
    width: calc(100% - 60px);
    box-sizing: border-box;
}

.start-button {
    font-size: 24px;
    padding: 10px 28px;
    border-radius: 20px;
    border-color: transparent;
    background-color: rgba(204, 191, 191, 0.8);
}

.hidden {
    display: none;
}

#map {
    height: 60vh;
    width: 90%;
    margin-bottom: 20px;
    border-radius: 24px;
}

#title {
    font-size: 24px;
    margin-top: -50px;
}

.modal {
    position: absolute; 
    top: 350px; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    z-index: 1000; 
    width: 400px; 
    height: 480px;
    overflow: auto; 
}

.modal-content {
    text-align: center;
    font-size: 14px;
}

.modal-image {
    width: 80%;
    height: auto;
    margin-top: 10px;
    border-radius: 24px;
}

.close-modal {
    margin-top: 0px;
    font-size: 20px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.close-modal:hover {
    background-color: #555;
}
